.actions button{
  background: linear-gradient(135deg, #ffde7d 0%, #ffc94d 100%);
  margin: 1.5rem 0.5rem;
}

.actions{
  display:flex;
  justify-content: center;
}

.actions button.active {
  background: #0f052a;
  color: #FFFFFF;
}

