
<div class="checkout-container">
  <div class="checkout-card">
    <div class="checkout-header">
      <h2 class="checkout-title">Order Summary</h2>
      <div class="divider"></div>
    </div>
    @for (order of orders; track order.id) {
        <div class="order-info">
          <p><strong>Order ID: </strong> {{order.id}}</p>
          <p><strong>Ordered on: </strong>{{ order.orderDate | date:'MMM d, y • hh:mm a' }} </p>
          <p><strong>Status: </strong> <span class="status-badge status-pending">{{order.status}}</span></p>
          <p>
            <strong>Fulfilled by: </strong>
            {{ order.fulfilledDate ? (order.fulfilledDate | date:'MMM d, y • hh:mm a') : 'Not yet fulfilled' }}
          </p>
        </div>

        <div class="order-items">
          <h3 class="items-title">Items in Order</h3>
          
          <ul class="items-list">
            <li class="order-item">
            @for (item of order.orders; track $index) {
              <div class="item-image">
                <img [src]= "'assets/bookCovers/'+item.book.coverImgUrl" alt="book"/>
              </div>
              
              <div class="item-details">
                <h4 class="item-title">{{item.book.title}}</h4>
                <p class="item-author">by {{item.book.author}}</p>
                <p class="item-price">₱{{item.book.price}} x {{item.quantity}}</p>
              </div>
              
              <div class="item-total">
                <p class="total-label">Subtotal</p>
                <p class="total-amount">₱{{item.book.price * item.quantity}}</p>
              </div>
            }
            </li>
          </ul>
            <div class="summary-row total-row">
              <span>Grand Total:</span>
              <span>₱{{order.totalCost}}</span>
            </div>
        </div>

        <div class="checkout-actions">
          <button class="btn-primary">
            Confirm Order
          </button>
          <button class="btn-secondary">
            Cancel Order
          </button>
        </div>
    }
  </div>
</div>