<button (click) = "createBook()" id="createBook">
    Create Book
</button>

<ul class="book-list">
    @for (book of books; track book.id){
        @if (book.isEditing){
            <app-admin-card [book]="book" (update)="updateBook($event)">
                <div class="book-actions">
                    <button class = "btn-warning" (click)="editBook(book)"> {{book.isEditing ? 'SAVE' : 'EDIT'}}</button>
                    <button class = "btn-danger" (click)="deleteBook(book)">REMOVE</button>
                </div>
            </app-admin-card>
        }
        @else{
            <app-book-card [book]="book">
                <div class="book-actions">
                    <button class = "btn-warning" (click)="editBook(book)"> {{book.isEditing ? 'SAVE' : 'EDIT'}}</button>
                    <button class = "btn-danger" (click)="deleteBook(book)">REMOVE</button>
                </div>
            </app-book-card>
        }
    }
</ul>